.ssh/

# Ansible
.ansible
ansible/inventory/*

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/virtualbox.box

# Python
.venv

# kubespray
/kubespray/
